.mainContainer {
  display: flex;
  align-items: center;
  height: 100vh;
}

.h2text {
  font-size: 22px;
  color: VAR(--purple-blue);
  font-weight: 500;
}

.h3text {
  font-size: 20px;
  color: VAR(--purple-blue);
  font-weight: 500;
}

.fieldContainer {
  margin-top: 39px;
  margin-bottom: 52.5px;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-self: flex-start;

  padding-left: 208px;
}

.selectContainer {
  margin-left: 107px;
}

.buttons {
  margin-top: 46px;
  margin-left: 200px;

  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.selectContent {
  width: 430px;

  margin-left: 18px;
  margin-top: 35px;

  display: flex;
  flex-wrap: wrap;

  column-gap: 33px;
  row-gap: 31px;
}

.hintContent {
  position: absolute;

  margin-left: 1058px;
  margin-bottom: 600px;

  z-index: 1;
}
