.mainContainer {
  display: flex;
  align-items: center;
  height: 100vh;
}

.fieldContainer {
  margin-top: 39px;
  margin-bottom: 52.5px;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-self: flex-start;

  padding-left: 208px;
}

.h2text {
  font-size: 22px;
  color: VAR(--purple-blue);
  font-weight: 500;
}

.TEMP_SPAN {
  margin-left: 195px;
}
