.mainContainer {
  display: flex;
  align-items: center;
  height: 100vh;
}

.fieldContainer {
  margin-top: 39px;
  margin-bottom: 52.5px;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-self: flex-start;

  padding-left: 208px;
}

.gameFieldContainer {
  margin-right: 107px;

  width: 366px;
  height: 366px;
  background-image: url('../../assets/bg_play_field.png');
  background-repeat: no-repeat;
}

.gameFielContent {
  margin-left: 29px;
  margin-top: 27px;

  width: 328px;
  height: 328px;

  display: grid;
  grid-template-columns: repeat(10, 33px);

  /* background-color: aqua; */
}