@font-face {
    font-family: 'Trajan Pro';
    src: url('ofont.ru_Trajan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul, li {
    margin: 0; 
    padding: 0; 
    border: 0; 
    vertical-align: baseline;
}

p {
    margin-top: 5px;
    margin-bottom: 33px;
    margin-left: 20px;
    color: #7382e1;
    font-family: 'Trajan Pro';
    position: relative;
    margin-right: 50px;
}

.title {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pcplay {
    display: flex;
    position: fixed;
    color: #7382e1;
    background-color: white;
    font-family: 'Trajan Pro';
    bottom: 150px;
    right: 20px;
    padding: 10px 10px;
    border-color: #7382e1;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.frplay {
    display: flex;
    position: fixed;
    color: #7382e1;
    background-color: white;
    font-family: 'Trajan Pro';
    bottom: 70px;
    right: 20px;
    padding: 10px 10px;
    border-color: #7382e1;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 1024px; 
    margin: 0 auto; 
    padding: 20px;
}

.battlefield {
	width: 860px;
	height: 530px;
	position: relative;
	margin: 0 auto;
	background: url('grid.png') repeat;
}

.flex {
    display: flex;
}

.outer {
    margin-bottom: 21px; 
    padding-left: 38px;
}

.text-top {
    font-family: 'Trajan Pro';
	height: 66px;
	font-size: 22px;
	line-height: 66px;
    justify-content: center;
	align-items: center;
	margin-bottom: 7px;
    color: #7382e1;

}
.text-btm {
	color: #c00;
	text-align: center;
	padding-top: 10px;
}

.field {
	width: 366px;
	height: 363px;
	position: relative;
	background: url('bg_play_field.png') no-repeat;
}

.field-computer {
	margin-left: 31px;
}

.instruction {
	margin-left: 25px;
    position: relative;
}

.link {
    font-family: 'Trajan Pro';
    font-size: 14px;
    cursor: pointer;
    display: flex;
    color: #7382e1;
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    border-color: #7382e1;
    border-radius: 5px;
    align-self: auto;
}

.btn {
	width: 144px;
	height: 45px;
	font-family: 'Trajan Pro';
	font-size: 14px;
	line-height: 40px;
	color: #7382e1;
    border-color: #7382e1;
    background-color: white;
	text-align: center;
	background-position: 0 -150px;
	cursor: pointer;
}

.ship, .icon-field, .btn-play {
	background: url('sprite.png') no-repeat;
}

.ships {
    width: 330px; 
    height: 330px; 
    position: relative; 
    left: 20px; 
    top: 27px;
}

.ship {
    height: 35px; 
    position: absolute;
}

.initial-ships li {height: 35px; position: relative; overflow: hidden; margin-top: 31px;}
.initial-ships .ship {left: 0px; top: 0px; float: left; cursor: move;}
.initial-ships .tripledeck1 {left: 164px;}
.initial-ships .tripledeck2 {left: 297px;}
.initial-ships .doubledeck2 {left: 99px;}
.initial-ships .doubledeck3 {left: 197px;}
.initial-ships .singledeck2 {left: 64px;}
.initial-ships .singledeck3 {left: 131px;}
.initial-ships .singledeck4 {left: 197px;}

.fourdeck {width: 134px; background-position: 0 0;}
.tripledeck {width: 101px; background-position: -150px 0;}
.doubledeck {width: 68px; background-position: -270px 0;}
.singledeck {width: 35px; background-position: -360px 0;}