.mainContent {
  width: 1124px;
  height: 699px;

  background-image: url('../../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: 2px solid VAR(--purple-blue);
  border-radius: 5px;
  overflow: hidden;
}

.playButtons {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
}
